.bg{
    background-size: cover;
    height: 970px;
    background-color: #66ccff;
}
body{
    margin: 0px;
}
.white{
    color: white;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 20px;
}
.title{
    padding-left: 21%;
    padding-top: 35px;
    margin: 0px;
    float: left;
    font-size: 32px;
}
.title2{
    padding-right: 10%;
    padding-top: 40px;
    margin: 0px;
    text-align: right;
}
.li{
    margin-right: 10px;
    display: inline-block;
}
a{
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
} 
.dropdown:hover .dropdown-content {
  display: block;
}
p{
  color: black;
  font-family: 'Montserrat Bold', arial;
}
.dm{
    text-align: center;
    margin-top: 300px;
}
.dm1{
    font-size:60px;
    color:white;
    margin-bottom: -15px;
    
}
.border-li:hover{
    border-bottom: 3px solid white;
}
.border-li{
    border-bottom: 4px solid #66ccff;
    padding-bottom: 10px;
}
.strelka-vniz{
    text-align: center;
    color:white;
    margin-top: 350px;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 38px;
}
.first-div{
    background-size: cover;
    height: 370Px;
    background-color: #f4f4f4;
}
.Two-strange-things{
    margin-left: 16.7%;
    margin-top: 96px;
    float: left;
}
.sopli{
    color: #333333;
    text-align: left;
    float: right;
    margin-right: 25%;
    margin-top: 96px;
    font-family: 'Montserrat Bold', sans-serif;
    line-height: 40px;
}
.sopli2{
    color: #666666;
    line-height: 25px;  
}
.second-div{
    background-color: white;
    background-size: cover;
    height: 600px;
}